@font-face {font-family: "sell-icon";
  src: url('//at.alicdn.com/t/font_c2ablz41hoo2mx6r.eot?t=1479722505361'); /* IE9*/
  src: url('//at.alicdn.com/t/font_c2ablz41hoo2mx6r.eot?t=1479722505361#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_c2ablz41hoo2mx6r.woff?t=1479722505361') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_c2ablz41hoo2mx6r.ttf?t=1479722505361') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_c2ablz41hoo2mx6r.svg?t=1479722505361#sell-icon') format('svg'); /* iOS 4.1- */
}

.sell-icon {
  font-family:"sell-icon" !important;
  line-height: 1;
  font-size: 16px;
  speak: none;
  font-style:normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cuowu:before { content: "\e641"; }

.icon-youjiantou-01:after { content: "\e60e"; }

.icon-zuojiantou-01:before { content: "\e61c"; }
